{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
    <div>
        <p>Un astronaute, également appelé cosmonaute pour les Russes, taïkonaute pour les Chinois, ou d'autres termes encore selon les pays, est le membre de l'équipage d'un véhicule spatial. Spationaute est un terme général souvent utilisé en France. Les astronautes sont choisis initialement parmi les pilotes militaires. Les critères de recrutement ont évolué par la suite et, si une bonne condition physique est toujours nécessaire, l'accent est désormais mis sur l'équilibre psychologique, la compétence technique ou scientifique selon le poste occupé et la capacité à s'exprimer dans les langues des principales nations spatiales (anglais, russe). </p>
        <p>Wikipedia</p>
    </div>
{% endblock %}